.emailSupport {
	height: 100px;
	width: 1200px;
}

.emailSupport article {
	display: block;
	margin-left: auto auto;
}

.emailSupport input[type=email] {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.34);
  width: 827px;
  height: 50px;
	margin-top: 50px;
  margin-left: 182px;
	padding-left: 13px;
	z-index: 1;
}

.emailSupport input:last-of-type {
  position: relative;
  right: 131px;
  width: 127px;
  height: 50px;
	z-index: 2;
}
