footer {
  display: block;
  height: 170px;
  width: 1200px;
  background-image: url(../img/background.png);
  padding-top: 50px;
}

footer .left {
  display: block;
  font-size: 16px;
  font-family: "Bebas";
  color: rgb(125, 125, 125);
  line-height: 1.833;
  margin-top: 20px;
  float: left;
  margin-left: 133px;
}

footer .right {
  display: block;
  font-size: 16px;
  font-family: "Bebas";
  color: rgb(125, 125, 125);
  line-height: 1.833;
  margin-top: 20px;
  float: right;
  margin-right: 133px;
}

nav {
  font-size: 16px;
  font-family: Bebas;
  color: rgb(58, 58, 58);
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  background-color: rgb(255, 255, 255);
  line-height: 1.571;
  list-style-type: none;
  display: block;
  height: 62px;
  width: 940px;
  margin: auto auto;
  padding-top: 17px;
  padding-left: 10px;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: rgb(58, 58, 58);
}

nav a:link {
  color: rgb(58, 58, 58);
}

nav a:hover {
  color: #a8c66d;
}

.greenlink {
  text-decoration: none;
  color: #a8c66d;
}

.greenlink:visited {
  color: #a8c66d;
}

nav * {
  display: inline;
  margin-left: 10px;
}

nav .social {
  width: 38px;
  height: 36px;
  display: block;
  float: right;
  position: relative;
  bottom: 4px;
  right: 14px;
  margin-left: 8px;
}

nav #facebook {
  background: url(../img/footer/facebook.png);
}

nav #pinterest {
  background: url(../img/footer/pinterest.png);
}

nav #rss {
  background: url(../img/footer/rss.png);
}

nav #twitter {
  background: url(../img/footer/twitter.png);
}


nav p {
  color: #a8c66d;
}
