@import "reset.css";
@import "header.css";
@import "themeFeatures.css";
@import "keyFeatures.css";
@import "emailSupport.css";
@import "testimonials.css";
@import "callToAction.css";
@import "footer.css";

@font-face {
 font-family: Bebas;
 src: url(../fonts/bebas.ttf);
}

@keyframes rotation {
	from {
		transform: rotateZ(0deg);
	} 50% {
		transform: rotateZ(180deg);
	} to {
		transform: rotateZ(360deg);
	}
}

body {
	height: 2400px;
	width: 1200px;
	margin: auto auto;
}

h2 {
	font-weight: bold;
	font-size: 18px;
	font-family: Bebas;
	color: rgb(58, 58, 58);
}


article {
	display: block;
	float: left;
}

.buttons {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, #709526 0%, #9eba44 100%);
  background-image: -webkit-linear-gradient( 90deg, #709526 0%, #9eba44 100%);
  background-image: -ms-linear-gradient( 90deg, #709526 0%, #9eba44 100%);
	width: 148px;
	height: 42px;
}
