.themeFeatures {
	height: 360px;
	width: 1200px;
	display: inline-block;
}

.themeFeatures li {
	list-style-image: url(../img/themeFeatures/box.png);
	margin-left: 133px;
}

.themeFeatures h2 {
	margin-left: 133px;
	margin-top: 54px;
}


.themeFeatures #display {
	display: block;
	height: auto;
	width: auto;
	float: right;
	margin-top: 2%;
}
