footer {
  display: block;
  height: 130px;
  width: 1200px;
  max-width: 100%;
  background-image: url(../img/background.png);
}

footer nav {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 80%;
  margin: auto auto;
  padding-top: 13px;
  padding-left: 1%;
}

footer nav div {
  display: inline-flex;
  position: relative;
  bottom: 5px;
}

footer nav * {
  font-size: 16px;
  font-family: Bebas;
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.571;
}

footer nav a {
  text-decoration: none;.
}

footer nav a:visited {
  color: rgb(58, 58, 58);
}

footer nav a:link {
  color: rgb(58, 58, 58);
}

footer nav a:hover {
  color: #a8c66d;
}

footer nav * {
  margin-left: 1%;
}

footer nav p {
  color: #a8c66d;
}

footer article {
  width: 80%;
  margin: auto auto;
}

footer article {
  display: block;
  font-size: 16px;
  font-family: "Bebas";
  color: rgb(125, 125, 125);
  line-height: 1.833;
  margin-top: 20px;
}

footer article .left {
  float: left;
}

footer article .right {
  float: right;
}

footer article a {
  text-decoration: none;
  color: #a8c66d;
}

footer article a:visited {
  color: #a8c66d;
}
