footer {
  display: block;
  height: 5%;
  width: 1200px;
  max-width: 100%;
  background-image: url(../img/background.png);
}

footer nav {

  border-style: solid;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 85%;
  margin: auto auto;
  padding-top: 13px;
  margin-bottom: 1%
}


footer nav div {
  padding-bottom: 1%;
  display: inline-flex;
  bottom: 5px;
  justify-content: space-around;
  position: relative;
  bottom: 20%;
  margin-left: 20%; 
  position: relative;
  margin-right: 20%;
}


footer nav * {
  font-size: 16px;
  font-family: Bebas;
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.570;
}

footer nav a {
  text-decoration: none;
  margin-right: 1%;
  margin-top: 0.5%;
}

footer nav a:visited {
  color: rgb(58, 58, 58);
}

footer nav a:link {
  color: rgb(58, 58, 58);
}

footer nav a:hover {
  color: #a8c66d;
}

footer nav * {
  margin-left: 1%;
}

footer nav p {
  color: #a8c66d;
  margin-top: 0.5%;
  margin-right: 1%;
}

footer article {
  width: 80%;
  margin: auto auto;
}

footer .align {

}
footer article {
  display: block;
  font-size: 16px;
  font-family: "Bebas";
  color: rgb(125, 125, 125);
  line-height: 1.833;
  margin-top: 20px;
}

footer article .left {
  float: left;
  margin-left: 20%;
}

footer article .right {
  float: right;
  margin-right:24%;
}

footer article a {
  text-decoration: none;
  color: #a8c66d;
}

footer article a:visited {
  color: #a8c66d;
}
